ROOT_DOMAIN=localhost
APP_ROOT_DOMAIN=localhost

WEB_PORT=3000
MANAGER_PORT=8080

MYSQL_HOST=mysql
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=llagents_platform

DB_NETWORK_ID=llagents_local_db
INGRESS_NETWORK_ID=llagents_local_ingress
INTERNAL_NETWORK_ID=llagents_local_internal
USER_INSTANCE_IMAGE=llagents/user-instance:latest
