[submodule "manager"]
	path = manager
	url = git@github.com:llm-to-apps/manager.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:llm-to-apps/deploy.git
[submodule "web"]
	path = web
	url = git@github.com:llm-to-apps/web.git
[submodule "templates/money"]
	path = templates/money
	url = git@github.com:llm-to-apps/money-template.git
[submodule "templates/gpt-card-template"]
	path = templates/gpt-card-template
	url = git@github.com:llm-to-apps/gpt-card-template.git
[submodule "agent-tools"]
	path = agent-tools
	url = git@github.com:llm-to-apps/agent-tools.git
[submodule "agent"]
	path = agent
	url = git@github.com:llm-to-apps/agent.git
[submodule "site"]
	path = site
	url = git@github.com:llm-to-apps/site.git
