[submodule "manager"]
	path = manager
	url = git@github.com:os7/manager.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:os7/deploy.git
[submodule "web"]
	path = web
	url = git@github.com:os7/web.git
[submodule "templates/money"]
	path = templates/money
	url = git@github.com:os7/money-template.git
[submodule "agent-tools"]
	path = agent-tools
	url = git@github.com:os7/agent-tools.git
[submodule "agent"]
	path = agent
	url = git@github.com:os7/agent.git
[submodule "site"]
	path = site
	url = git@github.com:os7/site.git
